absl-py==2.1.0
annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
deepdiff==6.7.1
Flask==3.0.3
gitdb==4.0.11
GitPython==3.1.41
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
mesop==0.12.4
msgpack==1.1.0
ordered-set==4.1.0
protobuf==5.28.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
python-dotenv==1.0.1
smmap==5.0.1
typing_extensions==4.12.2
watchdog==5.0.2
Werkzeug==3.0.4
